body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    /* background-color: #b8fdff; */
}

.navbar {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand {
    font-size: 1.8em;
    font-weight: bold;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #b8fdff;
}